@use "../abstracts";

html {
    --text-color: #1a162e;
    --icon-color: brightness(0) saturate(100%) invert(6%) sepia(31%) saturate(2321%) hue-rotate(223deg) brightness(95%)
        contrast(94%);
    --header-bg-color: #eee;
    --body-bg-color: #f6f6f6;
    --top-act-group-bg-color: #fff;
    --top-act-group-shadow: rgba(237, 237, 246, 0.2);
    --top-act-group-separate: #ededf6;

    // Dropdown
    --dropdown-bg-color: #fff;
    --dropdown-shadow: rgba(200, 200, 200, 0.4);
    --top-menu-border-color: #d2d1d6;
    --menu-column-icon-color: brightness(0) saturate(100%) invert(7%) sepia(44%) saturate(914%) hue-rotate(210deg)
        brightness(99%) contrast(96%);

    // Sidebar
    --sidebar-bg: #fff;
    --sidebar-shadow: rgba(200, 200, 200, 0.4);

    @include abstracts.breakpoint(lg) {
        --header-bg-color: #fff;
        --header-shadow-color: rgba(237, 237, 246, 0.2);
    }
}
